@import "./variables";

.footer{
    background-color:#5b92e5;
    border: 1px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    gap: 10px;
    
    &__paragraph{
        padding: 1rem;
        font-family: $fontRoboto;
        font-size: 16px;
        color: white;
        border: 2px ridge black;
        line-height: 2.5rem;
    }
    
    &__list{
        display: flex;
        align-self: flex-end;
    }
    
    &__item{
        display: flex;
        list-style-type: none; 
        margin: 1rem;
    }
}

.footer__logo{
    display: flex;
    justify-content: center;
    height: 10px;
}

.footer__box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}