@import "./variables";

.form{
    font-size: 1.5rem;
    background-color: lavenderblush;
    padding: 1rem;
    margin: 1rem;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    background-color: lavenderblush;
    padding: 2rem;
}
.mapa{
    padding: 2rem;
}