@import "./variables";

@mixin gridImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.service{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 150px);
    gap: 15px;
    padding: 10px;
}
.service1{
    grid-area: service1;
    grid-row: 1 / span 2;
    grid-column: 1 / span 10;
    @include gridImg
}
.service2{
    grid-area: service2;
    grid-column: 1 / span 6;
    grid-row: 3 / span 2;
    @include gridImg;
    
}
.service3{
    grid-area: service3;
    grid-column: 1 / span 6;
    grid-row: 5 / span 2;
    @include gridImg;
}
.service4{
    grid-area: service4;
    grid-column: 7 / span 4;
    grid-row: 3 / span 4;
    @include gridImg;
}
.service__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 1.5s;
}
.service__image:hover{
    transform: scale(1.2);
}
.service__list{
    font-family: $fontRoboto;
    font-size: 1.5rem;
    margin: 2rem;
    list-style: circle;
}

.audit__container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 3rem;
    padding: 1rem;
}

.audit__container1{
    grid-area: audit__container1;
    grid-row: 1 / span 1;
    grid-column: 1 / span 10;
    padding: 1rem;
    @include centrar
}

.audit__container2{
    grid-area: audit__container2;
    grid-row: 2 / span 2;
    grid-column: 1 / span 5;
    border: 1px solid grey;
    margin: 0rem 7.5rem;
    background-color: lightsteelblue;
    box-shadow: 10px 10px 50px black;
    @include centrar
}

.audit__container3{
    grid-area: audit__container3;
    grid-row: 2 / span 2;
    grid-column: 6 / span 5;
    border: 1px solid grey;
    margin: 0rem 7.5rem;
    background-color: lightsteelblue;
    box-shadow: 10px 10px 50px black;
    @include centrar
}

.audit__container4{
    grid-area: audit__container4;
    grid-row: 4 / span 2;
    grid-column: 1 / span 5;
    border: 1px solid grey;
    margin: 0rem 7.5rem;
    background-color: lightsteelblue;
    box-shadow: 10px 10px 50px black;
    @include centrar
}

.audit__container5{
    grid-area: audit__container5;
    grid-row: 4 / span 2;
    grid-column: 6 / span 5;
    border: 1px solid grey;
    margin: 0rem 7.5rem;
    background-color: lightsteelblue;
    box-shadow: 10px 10px 50px black;
    @include centrar
}