@import "./variables";

.header{
    background-color: whitesmoke;
}

.companyLogo{
    height: 12rem;
    display: flex;
    align-self: center;
}

.navbar-nav a{
    display: block;
    color: black;
    text-decoration: none;
    font-family: $fontRoboto;
    font-size: 2rem;
}

.navbar-nav a:hover{
    background-color: tomato;
    color: white;
}

.navbar ul li a:hover + ul{
    display: block;
}

.navbar ul li ul:hover{
    display: block;
}

.dropdown-menu{
    border: 0px;
    font-size: 1rem;
    background-color: whitesmoke;
    color: black;
}

