
@media screen and (max-width: 576px){
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .header__nav{
        align-self: center;
        order: 1;
        padding-bottom: 9rem;
    }
    .companyLogo{
        margin-bottom: 10px;
    }
    .btn{
        margin-bottom: 10px;    
    }
    .hero__title{
        font-size: 3rem;
    }
    .hero__slogan{
        font-size: 1.8rem;
        top: 20rem;
    }
    .hero__paragraph{
        top: 25rem;
        font-size: 1.6rem;
    }
    .service{
        grid-template-rows: repeat(8, 100px);
    }
    .service2, .service3{
        grid-column: 1 / span 10;
    }
    .service4{
        grid-row: 7 / span 2;
        grid-column: 1 / span 10;
    }
    .main__title{
        font-size: 4rem;
        padding: 2rem 0rem;
    }
    .crew{
        height: 12rem;
        margin-left: 1rem;
    }
    .audit__container{
        padding: 1rem 2rem;
    }
    .smallTitle--left{
        font-size: 2.5rem;
    }
    .paratext{
        font-size: 2rem;
    }
    .fields--small{
        margin: 1rem;
    }
    .checkbox {
        margin: 1rem 1rem 1rem 4rem
    }
    .buttons{
        margin: 0rem;
    }
    .contact--small {
        padding: 0rem 10rem;
    }   
    .contact{
        padding: 1rem 5rem;
    }
    .fields{
        margin: 1rem;
    }   
    .service__btn--up{
        margin-bottom: 12.5rem;
    }
    .footer {
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        justify-content: space-evenly;
    }
    .footer__logo {
        grid-area: footerLogo;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .footer__box{
        grid-area: footerBox;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    .footer__container{
        grid-area: footerContainer;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    .footerTitle{
        padding-top: 10px;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 768px){
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .header__nav{
        align-self: center;
        order: 1;
        padding-bottom: 9rem;
    }
    .header__menu{
        font-size: 2.5rem;
    }
    .companyLogo{
        margin-bottom: 10px;
    }
    .btn{
        font-size: 1.5rem;
        margin-bottom: 10px;
    } 
    .hero__slogan{
        top: 19rem;
    }
    .hero__paragraph{
        top: 25rem;
    }
    .service{
        grid-template-rows: repeat(8, 100px);
    }
    .service2, .service3{
        grid-column: 1 / span 10;
    }
    .service__btn--up{
        margin-bottom: 14rem;
    }
    .service4{
        grid-row: 7 / span 2;
        grid-column: 1 / span 10;
    }
    .main__title{
        font-size: 4rem;
        padding: 3rem;
    }
    .contact{
        flex-direction: column;
        padding: 5rem;
    }
    .mapa{
        display: flex;
        align-self: center;
    }
    .contact--small {
        padding: 1rem 15rem;
    }
    .bigTitle--service1 {
        color: white;
        padding-top: 5rem;
        align-items: flex-start;
    }
    .crew {
        height: 12rem;
    }
    .footer {
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        justify-content: space-evenly;
    }
    .footer__logo {
        grid-area: footerLogo;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .footer__box{
        grid-area: footerBox;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    .footer__container{
        grid-area: footerContainer;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    .footerTitle{
        padding-top: 10px;
        padding-bottom: 1px;
    }
}